<div class="container d-flex justify-content-center align-items-center text-center">


<div class="container bg-white border rounded m-5 p-5 w-75">
    <h2 class="mb-4">Forgot Password</h2>
    <form>
        <div class="mb-3"> <label for="emailAddress" class="form-label">Email Address or Phone Number</label> <input type="email"
                class="form-control" id="emailAddress" placeholder="Enter your email address or phone number"> </div> <button
            type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>