<div class="container d-flex">
    <div class="container bg-white border rounded m-5 p-5 w-75">
        <h6 class="mb-4 text-center">This is a one time process</h6>
        <form>
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
            </div>
            <div class="mb-3">
                 <label for="lastName" class="form-label ">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Enter your last name"> </div>
            <div class="mb-3"> 
                <label for="phoneNumber" class="form-label ">Phone Number</label> 
                <input type="tel" class="form-control" id="phoneNumber" placeholder="Enter your phone number"> </div>
            <div class="mb-3"> <label for="emailAddress" class="form-label">Email Address</label> <input type="email"
                    class="form-control" id="emailAddress" placeholder="Enter your email address"> </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Signup</button>
            </div>

        </form>
    </div>
</div>