.cart-container {
    width: 80%;
    margin: 0 auto;
}
.cart-items {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.product-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.product-details {
    flex-grow: 1;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
}


.item-border
{
    border: grey 1px solid; 
    border-radius: 10px;
}

.item-border:hover
{
    border: blue 3px solid; 
    border-radius: 10px;
}
