<div class="p-4">
    <p>Products</p>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>

    <div class="row">
        @for (item of items; track item) 
        {
            <div class="col-4 mb-4">
                <div class="card" style="width: 22rem;">
                    <img src="assets/images/TargetWall.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        }
       
    </div>

   
</div>

