<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5"
 tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Login</h1>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" fdprocessedid="k8742e"></button> -->
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form class="" (ngSubmit)="onContinueButtonClicked()">
           
            @if (isOtpvisible === false) 
            {
              <div class="form-floating mb-3">
                <input type="text" 
                      class="form-control rounded-3" 
                      id="emailOrPhoneNumberText"
                      name="emailOrPhoneNumberText"
                      placeholder="name@example.com"
                      [(ngModel)]="emailOrPhoneNumberText" 
                      fdprocessedid="4scdrn">
                <label for="emailOrPhoneNumberText">Email address or Phone number</label>
              </div>
            }
            @else
            {
              <div class="form-floating mb-3">
                <input type="text"
                 class="form-control rounded-3" 
                 id="otpText"
                 name="otpText"
                 maxlength="4"
                 placeholder="Password"
                 [(ngModel)]="otpText"
                 fdprocessedid="f92tbu">
                <label for="floatingPassword">One time password</label>
              </div>
            }
           
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" fdprocessedid="79kcmr">Continue</button>
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            <hr class="my-4">
            <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit" fdprocessedid="jps5pb">
              <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
              Sign up using  Google
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>